<h1>ADMIN/ADMIN_CONTROLLER#INDEX</h1>

<h2>ACCUEIL DES ADMINS</h2>

<%= link_to 'GESTION DES USERS', admin_users_path %> GESTION DES USERS [admin_users_path] <br/>
<%= link_to 'GESTION DES EVENT_SUBMISSIONS', admin_event_submissions_path %> GESTION DES EVENTS [admin_event_submissions_path] <br/>
<%= link_to 'GESTION DES EVENTS', admin_events_path %> GESTION DES EVENTS [admin_events_path] <br/>